<ion-header>
	<ion-navbar>
		<ion-title>{{ pageTitle }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label floating>Descrição</ion-label>
                    <ion-input floating [(ngModel)]="event.title"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Data de Início</ion-label>
                    <ion-datetime floating [(ngModel)]="event.startTime" displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label floating>Hora de Início</ion-label>
                    <ion-datetime floating [(ngModel)]="event.startTime" displayFormat="HH:mm" pickerFormat="HH mm"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label floating>Data de Fim</ion-label>
                    <ion-datetime floating [(ngModel)]="event.endTime" displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label floating>Hora de Fim</ion-label>
                    <ion-datetime floating [(ngModel)]="event.endTime" displayFormat="HH:mm" pickerFormat="HH mm"></ion-datetime>
                </ion-item>
                <ion-item *ngIf="loggedUser.userAdmin">
                    <ion-label floating>Selecione o atendente</ion-label>
                    <ion-select floating [(ngModel)]="event.userId" [selectOptions]="userSelectOptions" multiple="false">
                        <div *ngFor="let user of userList">
                            <ion-option value="{{user.userId}}">{{user.userName}}</ion-option>
                        </div>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label floating>Selecione a Sala</ion-label>
                    <ion-select floating [(ngModel)]="event.roomId" [selectOptions]="roomSelectOptions" multiple="false">
                        <div *ngFor="let room of roomList">
                            <ion-option value="{{room.roomId}}">{{room.roomName}}</ion-option>
                        </div>
                    </ion-select>
                </ion-item>
				<button ion-button full (click)="saveEvent()">Salvar</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
