<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <div class="adicionandoAtendente">
            <ion-title>Atendentes</ion-title>
            <p class="button_add">
                <ion-icon name="add" (click)="addAtendente()"></ion-icon>
            </p>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngFor="let usuarios of usuario; let i = index">
        <ion-list>
            <ion-item-sliding #item>
                <ion-item>
                    <div *ngIf="usuario[i].userAdmin !== true">
                        <div>{{usuario[i].userName}}</div>
                    </div>
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="danger" (click)="excluir(usuario[i].userId)"><ion-icon name="trash"></ion-icon>
                    </button>
                </ion-item-options>
                <ion-item-options side="right">
                    <button ion-button color="secondary" (click)="editar(usuario[i].userId)"><ion-icon name="settings"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>