<ion-header>
    <ion-navbar>
        <ion-title>{{ pageTitle }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <form (ngSubmit)="saveUser()">
                    <ion-item>
                        <ion-label floating>Nome</ion-label>
                        <ion-input [(ngModel)]="user.userName" name="nome" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>E-mail</ion-label>
                        <ion-input [(ngModel)]="user.userEmail" name="email" type="email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Selecione as salas</ion-label>
                        <ion-select [(ngModel)]="user.userRooms" name="selecioneSala" [selectOptions]="selectOptions" multiple="true">
                            <div *ngFor="let room of roomList">
                                <ion-option value="{{ room.roomId }}">{{ room.roomName }}</ion-option>
                            </div>
                        </ion-select>
                    </ion-item>
                    <ion-item [ngClass]="{'input-danger': user.userId}">
                        <ion-label floating>Senha</ion-label>
                        <ion-input [(ngModel)]="user.userPassword" name="senha" type="password" tabindex="4"></ion-input>
                    </ion-item>
                    <ion-item class="password-info-container">
                        <p *ngIf="user.userId" class="password-info">* Preencha apenas caso deseje alterar a senha</p>
                    </ion-item>
                    <button ion-button full type="submit">Salvar</button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>