<ion-header>
    <ion-navbar>
        <ion-title>{{ pageTitle }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-input [(ngModel)]="user.userName" type="text" placeholder="Nome"></ion-input>
                <ion-input [(ngModel)]="user.userEmail" type="email" placeholder="E-mail"></ion-input>
                <ion-select [(ngModel)]="user.userRooms" placeholder="Selecione as salas" [selectOptions]="selectOptions" multiple="true">
                    <div *ngFor="let room of roomList">
                        <ion-option value="{{ room.roomId }}">{{ room.roomName }}</ion-option>
                    </div>
                </ion-select>

                <p *ngIf="user.userId" class="password-info">* Preencha caso deseje alterar a senha</p>
                <ion-input [(ngModel)]="user.userPassword" [ngClass]="{'input-danger': user.userId}" type="password" placeholder="Senha"></ion-input>

                <button ion-button full (click)="saveUser()">Salvar</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
