@import "../../../theme/variables";

page-edit-atendente {
    .password-info {
        display: block;
        color: map-get($colors, danger);
        margin: 20px 5px 5px;
        font-size: 12px;
    }
}
