page-nova-senha-atendente {
    .formularioNovaSenha {
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .item-md {
        padding: 0 !important;
    }
    ion-col.campos.col {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    ion-input.novaSenha.input,
    ion-input.confirmarSenha.input {
        width: 100% !important;
        border: 0.55px solid #CCC;
        border-radius: 30px;
        height: 60px;
        line-height: 35px;
    }
    .text-input::-moz-placeholder {
        font-size: 15px;
    }
    .text-input:-ms-input-placeholder {
        font-size: 15px;
    }
    .text-input::-webkit-input-placeholder {
        font-size: 15px;
    }
    .text-input-md,
    .text-input-ios {
        margin: 15px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
    }
    ion-input.novaSenha.input {
        margin-bottom: 10px;
    }
    .button_salvar {
        text-align: center;
        align-items: center;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 0px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        height: 50px;
        text-transform: capitalize;
        border-radius: 30px;
        background: #9F8EB9;
        text-transform: uppercase;
    }
}
