page-edit-sala {
    .scroll-content {
        padding: 0 !important;
    }
    ion-input.nome.input {
        width: 100% !important;
        border-bottom: 0.55px solid #ccc;
        height: 60px;
        line-height: 35px;
    }
    ion-select {
        max-width: 100%
    }
    ion-input.nome.input {
        width: 100% !important;
        border: 0.55px solid #ccc;
        border-radius: 30px;
        height: 60px;
        line-height: 35px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .button_salvar {
        text-align: center;
        align-items: center;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 0px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        height: 50px;
        text-transform: capitalize;
        border-radius: 30px;
        background: #9F8EB9;
        text-transform: uppercase;
    }
}