page-edit-atendente {
    ion-input.nome.input,
    ion-input.email.input,
    ion-input.senha.input {
        border: 0.55px solid #ccc;
        border-radius: 30px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    ion-select.salas.select {
        border: 0.55px solid #ccc;
        border-radius: 30px;
        padding: 13px 20px 13px 16px;
    }
    ion-select {
        max-width: 100%
    }
    ion-select .item-cover {
        height: 0;
    }
}