page-login {
    .scroll-content {
        padding: 0 !important;
    }
    .login {
        height: 100% !important;
        width: 100% !important;
        display: flex;
        justify-content: start;
        align-items: center;
        align-content: center;
    }
    .logo {
        height: 16% !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 50px;
        position: absolute;
        top: 50px;
    }
    .formulario {
        height: 40% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        width: 100% !important;
        margin-top: 30px;
        position: absolute;
        top: 200px;
    }
    .formulario .row {
        width: 100% !important;
    }
    ion-menu.menu-enabled.show-menu {
        display: none;
    }
    p.titulo_app {
        text-align: center;
        font-size: 30px;
        margin: 0;
    }
    ion-col.campos.col {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    ion-input.email.input,
    ion-input.password.input {
        width: 100% !important;
        border: 0.55px solid #ccc;
        border-radius: 30px;
        height: 60px;
        line-height: 35px;
    }
    .text-input::-moz-placeholder {
        font-size: 15px;
    }
    .text-input:-ms-input-placeholder {
        font-size: 15px;
    }
    .text-input::-webkit-input-placeholder {
        font-size: 15px;
    }
    .text-input-md,
    .text-input-ios {
        margin: 15px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
    }
    ion-input.email.input {
        margin-bottom: 10px;
    }
    .esqueci_senha {
        margin: 0;
        text-align: right;
    }
    .button_login {
        text-align: center;
        align-items: center;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 0px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        height: 50px;
        text-transform: capitalize;
        border-radius: 30px;
        background: #9F8EB9;
        text-transform: uppercase;
    }
    ion-img.imagem-login {
        width: 100%;
        height: 160px;
    }
}