page-add-evento {
    .adicionandoEvento {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    ion-title {
        width: 80%;
        flex: none !important;
    }
    p.button_sair {
        width: 20%;
        text-align: center;
        font-size: 20px;
        margin: 0;
    }
    .toolbar-title {
        text-align: center;
    }
    .toolbar-ios ion-title {
        padding: 0;
        position: relative;
        width: 80%
    }
}