page-atendente {
    .scroll-content {
        padding: 0 !important;
    }

    .adicionandoAtendente {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .toolbar-title {
        text-align: center;
    }

    .toolbar-ios ion-title {
        padding: 0;
        position: relative;
        width: 80%
    }

    ion-title {
        width: 100%;
        flex: none !important;
    }

    .item-md,
    .item-ios {
        padding: 0 !important;
    }

    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner {
        padding: 0 !important;
    }

    .label-md,
    .label-ios {
        margin: 0 !important;
        height: 50px;
    }

    .botao_novaSenha {
        color: #CCC;
        font-size: 20px;
    }

    .input-wrapper {
        border-bottom: 1px solid #AAA
    }
}
