@import "../../theme/variables";

page-calendario {
    .botao_adicionar {
        background: map-get($colors, primary) !important;
        padding: 18px !important;
    }
    .monthview-selected[_ngcontent-c1] {
        background: map-get($colors, primary) !important;
    }

    .monthview-datetable {
        border-right: none !important;
        border-left: none !important;
    }

    .monthview-datetable th, .monthview-datetable td {
        border: none !important;
        color: map-get($colors, dark) !important;
        font-size: 15px !important;
    }

    .monthview-datetable td.monthview-current {
        background-color: rgba(map-get($colors, primary), 0.5) !important;
        border: 1px solid map-get($colors, primary) !important;
        color: inherit;
    }
    .monthview-datetable td.monthview-selected {
        background-color: rgba(map-get($colors, primary), 0.8) !important;
    }
}
