<ng-template #monthviewEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
        <ion-item class="event-item" *ngFor="let event of selectedDate?.events">
            <div class="event-container" (click)="editEvent(event)">
                <span class="event-title">{{event.title}}</span>
                <span class="event-details"><b>Horário:</b> {{event.startTime|date: 'HH:mm'}} às {{event.endTime|date: 'HH:mm'}}</span>
                <span class="event-details"><b>Sala:</b> {{event.roomName}}</span>
                <span class="event-details"><b>Responsável:</b> {{ event.userName }}</span>
            </div>
            <ion-icon *ngIf="event.userId === loggedUser.userId" (click)="removeEventDialog()" class="event-remove" name="trash"></ion-icon>
        </ion-item>
        <ion-item *ngIf="selectedDate?.events.length==0">
            <div class="no-events-label">Nenhum evento cadastrado</div>
        </ion-item>
    </ion-list>
</ng-template>

<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{viewTitle}}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="goToday()">Hoje</button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-fab right bottom>
        <button ion-fab class="fab-button" (click)="addEvent()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <calendar formatDayHeader="EEEEEE" formatWeekViewDayHeader="EEEEEE d" formatWeekTitle="MMMM yyyy" formatHourColumn="HH:mm" formatDayTitle="dd MMMM - yyyy" queryMode="remote" [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
        [monthviewEventDetailTemplate]="monthviewEventDetailTemplate" (onEventSelected)="editEvent($event)" (onTitleChanged)="onViewTitleChanged($event)" (onRangeChanged)="onRangeChanged($event)" step="30">
    </calendar>
</ion-content>