@import "../../theme/variables";
page-calendario {
    .scroll-content {
        padding: 0 11px !important;
        .grid {
            padding: 0;
        }
    }
    .toolbar-title-md {
        text-transform: capitalize;
    }
    .toolbar-title-ios {
        text-transform: capitalize;
    }
    .monthview-container {
        monthview {
            >div {
                display: flex;
                flex-direction: column;
                height: 100%;
                ion-slides {
                    height: unset;
                }
            }
        }
    }
    .monthview-datetable {
        border: none !important;
        th {
            text-transform: uppercase;
        }
        th,
        td {
            border: none !important;
            color: map-get($colors, dark) !important;
            font-size: 15px !important;
        }
        td {
            &.monthview-current {
                font-weight: bold;
            }
            &.monthview-selected {
                background-color: rgba(map-get($colors, primary), 0.5) !important;
                border: 1px solid map-get($colors, primary) !important;
                color: inherit;
            }
        }
    }
    .monthview-primary-with-event,
    .monthview-secondary-with-event {
        background-color: rgba(map-get($colors, primary), 0.3) !important;
    }
    .event-detail-container {
        border-top: 1px solid map-get($colors, grey) !important;
        padding: 5px 0 65px;
        margin: 5px 0 0;
        overflow: scroll;
        ion-item {
            border: none !important;
            margin: 5px 0;
            position: relative;
            .item-inner {
                border-bottom: none !important;
                .label-md,
                .label-ios {
                    margin: 0;
                }
            }
            .event-container {
                display: flex;
                flex-direction: column;
                background-color: rgba(map-get($colors, primary), 0.1);
                border: 1px solid map-get($colors, primary);
                border-left: 4px solid map-get($colors, primary);
                margin: 0 10px;
                padding: 5px;
                border-radius: 5px;
                position: relative;
                .event-title {
                    font-weight: bold;
                    margin-bottom: 3px;
                }
                .event-details {
                    font-size: 12px;
                    margin: 0 0 2px 5px;
                }
            }
            .event-remove {
                position: absolute;
                right: 30px;
                font-size: 2.4rem;
                color: rgba(map-get($colors, danger), 0.7);
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }
        }
    }
    .no-events-label {
        text-align: center;
    }
    .weekview-header {
        border: none !important;
        th {
            line-height: 1.3 !important;
            padding: 5px 8px !important;
            text-transform: uppercase;
            white-space: normal;
            border-bottom: 1px solid rgba(map-get($colors, grey), 0.8) !important;
            border-right: 1px solid rgba(map-get($colors, grey), 0.5) !important;
            background-color: rgba(map-get($colors, grey), 0.1);
        }
        .calendar-hour-column {
            border: none;
            background-color: transparent !important;
        }
    }
    .weekview-allday-table {
        display: none !important;
    }
    .weekview-normal-event-container {
        margin-top: 41px;
        .scroll-content {
            padding: 0 !important;
        }
    }
    .weekview-normal-event-table,
    .dayview-normal-event-table {
        border: none !important;
        margin-bottom: 70px;
    }
    .weekview-normal-event-container,
    .dayview-normal-event-container {
        .calendar-hour-column {
            border: none !important;
            border-bottom: 1px solid rgba(map-get($colors, grey), 0.2) !important;
            padding-right: 5px;
            font-size: 10px;
        }
        .calendar-cell {
            border-color: rgba(map-get($colors, grey), 0.5) !important;
            border-bottom: 1px solid rgba(map-get($colors, grey), 0.2) !important;
            border-top: none !important;
            .calendar-event-inner {
                background-color: map-get($colors, primary);
                border-radius: 5px;
            }
        }
    }
    .dayview-allday-table {
        display: none;
    }
    .dayview-normal-event-container {
        margin-top: 0;
        .scroll-content {
            padding: 0 !important;
        }
    }
}