.toolbar-title {
    text-align: left !important;
}

.tabs-md .tab-button-icon {
    color: #fff !important;
}

.tabbar {
    background: #9F8EB9 !important;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #195456 !important;
}

.tab-button[aria-selected=true] .tab-button-text {
    color: #195456 !important;
}

.tab-button-text {
    color: #fff !important;
}

.toolbar-title {
    color: #195456 !important;
}

// ionic cordova build android --release --prod
// jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore studioCasale.keystore platforms/android/app/build/outputs/apk/release/app-release-unsigned.apk alias_name
// /Users/sympla/Library/Android/sdk/build-tools/28.0.0/zipalign -v 4 platforms/android/app/build/outputs/apk/release/app-release-unsigned.apk StudioCasale.apk