@import "../theme/variables";

* {
    color: map-get($colors, dark);
}

.toolbar-title {
    text-align: left !important;
}

.tabs-md .tab-button-icon {
    color: white !important;
}

.tabbar {
    background: map-get($colors, primary) !important;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: map-get($colors, secondary) !important;
}

.tab-button[aria-selected=true] .tab-button-text {
    color: map-get($colors, secondary) !important;
}

.tab-button-text {
    color: white !important;
}

.toolbar-title {
    color: map-get($colors, secondary) !important;
}

//Input defaults
ion-input {
    height: 50px;
    display: flex;
    border: 1px solid #CCC;
    border-radius: 10px;
    margin-bottom: 10px;

    .text-input-md,
    .text-input-ios {
        margin: 13px 10px;
    }

    .text-input {

        &::-moz-placeholder {
            font-size: 15px;
        }

        &:-ms-input-placeholder {
            font-size: 15px;
        }

        &::-webkit-input-placeholder {
            font-size: 15px;
        }
    }

    &.input-danger {
        border-color: map-get($colors, danger);

        .text-input {
            &::-moz-placeholder {
                color: rgba(map-get($colors, danger), 0.8);
            }

            &:-ms-input-placeholder {
                color: rgba(map-get($colors, danger), 0.8);
            }

            &::-webkit-input-placeholder {
                color: rgba(map-get($colors, danger), 0.8);
            }
        }
    }
}

ion-select {
    max-width: unset;
    height: 50px;
    position: relative;
    display: flex;
    border: 1px solid #CCC;
    border-radius: 10px;
    margin-bottom: 10px;

    &.select-md {
        padding: 0;

        .select-icon {
            width: 20px;
            height: 100%;

            .select-icon-inner {
                left: 0;
            }
        }
    }

    .select-placeholder, .select-text {
        display: flex;
        align-items: center;
        margin: 13px 10px;
    }
}

.button-default {
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 15px auto 0;
    border-radius: 10px;
    background: map-get($colors, primary);

    .button-inner {
        color: white;
        text-transform: uppercase;
    }
}

.list-card {
    width: 100%;
    height: 60px;
    display: flex;
    border: 1px solid map-get($colors, grey);
    border-radius: 10px !important;
    background: map-get($colors, light);
    margin: 0 0 15px !important;
    padding: 0 !important;
    box-shadow: none !important;

    .icon {
        display: flex;
        align-items: center;

        span {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: map-get($colors, primary) !important;
            color: white;
            font-weight: 700;
            font-size: 20px;
            padding: 5px;
            border-radius: 50%;
            margin: 0 5px;
        }
    }

    .info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        padding: 10px 10px;
        border-right: 1px solid map-get($colors, grey);

        .primary {
            font-size: 18px;
            font-weight: 500;
        }

        .secondary {
            font-size: 12px;
            font-weight: 300;
            margin-left: 2px;
            margin-top: 3px;
        }
    }

    .actions {
        height: 100% !important;
        display: flex;
        align-items: center;

        .button {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            margin: 0;
            padding: 5px 15px;
        }

        .success {
            color: map-get($colors, success);
            background: rgba(map-get($colors, success), 0.1);
        }

        .danger {
            color: map-get($colors, danger);
            background: rgba(map-get($colors, danger), 0.1);
        }
    }
}

.fab-button {
    background: map-get($colors, primary);

    > * {

        > * {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px !important;
            color: white;
        }
    }
}

.nav-bar-container {
    display: flex;
    align-items: center;

    ion-title {
        flex-grow: 1;
    }

    .logo-container {
        flex-grow: 1;
    }

    .button-exit {
        font-size: 25px;
        margin-right: 10px;
        color: map-get($colors, secondary) !important;
    }
}

// ionic cordova build android --release --prod
// jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore studioCasale.keystore platforms/android/app/build/outputs/apk/release/app-release-unsigned.apk alias_name
// /Users/sympla/Library/Android/sdk/build-tools/28.0.0/zipalign -v 4 platforms/android/app/build/outputs/apk/release/app-release-unsigned.apk StudioCasale.apk
